<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="Perl-new script map" path="*.pl" verb="GET,HEAD,POST" modules="CgiModule" scriptProcessor="C:\Strawberry\perl\bin\perl.exe &quot;%s&quot; %s" resourceType="File" requireAccess="Script" />
            <add name="Perl Script Map" path="*.cgi" verb="*" modules="CgiModule" scriptProcessor="C:\Strawberry\perl\bin\perl.exe &quot;%s&quot; %s" resourceType="File" requireAccess="Script" />
        </handlers>
        <staticContent>
            <mimeMap fileExtension=".pl" mimeType="application/json" />
        </staticContent>
    </system.webServer>
</configuration>
